# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Dart Tools'
    'submenu': [
      'label': 'Analyze File'
      'command': 'dart-tools:analyze-file'
    ]
  ]
]
