# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Dart Tools'
    'submenu': [
      {'label': 'SDK Info', 'command': 'dart-tools:sdk-info'}
    ]
  ]
]
